<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hlw_player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Hlw_player.Properties.Settings>
            <setting name="Volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ismute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="volumetemp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fast_forward" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Rewind" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Click_pause" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Minimize_pause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="brightness" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="contrast" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="saturation" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="hue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="rendermode" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="playspeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="proportion" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="lrcfont" serializeAs="String">
                <value>微软雅黑, 14.25pt</value>
            </setting>
            <setting name="lrccolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="playorder" serializeAs="String">
                <value>0</value>
            </setting>
        </Hlw_player.Properties.Settings>
    </userSettings>
</configuration>
